@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');




/* Title */
.title-homepage{
	font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #2a2b2b;
  font-size: 2.5rem;
  margin-bottom: 75px;
  margin-top: 130px;
}





/* Tables Section */
.tables {
  display: flex;
  justify-content: center;
  


  gap: 50px;
  flex-wrap: wrap;

  color: white;
 

  
}


.table-circle {


  width: 200px;
  height: 200px;
  background-color:  #464848;
  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
}

.table-circle:hover {
  background-color: #2a2b2b;
}

@media (max-width: 768px) {
	.tables {

    gap: 20px;
	}
}

@media (max-width: 768px) {
	.title-homepage {
		font-size: 0.75rem;
    

		
	}
}





@media (max-width: 768px) {

    
    .HomePage{
      padding-top: 25px;
   
}
		
	
}